<div class="input-with-msg" id="input-div-{{ name }}">
    <div class="input-with-msg__msg_{{ style }}">{{ message }}</div>
    <input class="input-with-msg__input_{{ style }}" type="{{ type }}" name="{{ name }}" id="{{ name }}"
        placeholder="{{ placeholder }}" value="{{ value }}" autocomplete="{{ autocomplete }}">
</div>