<div class="restaurant_card">
    <img class="title_image" src="{{Icon}}" />
    <div class="title_rating">
        <h2>{{Name}}</h2>
        <div class="rating">
            <img class='gold_star' src="img/gold_star.svg">
            <div class="rating_container">
                <p class="rating_">{{Rating}}</p>
            </div>
        </div>
    </div>
    <div class="delivery_info">
        Доставка: {{DeliveryPrice}}₽ &nbsp
        {{DeliveryTime}}-{{DeliveryTimeMax}} минут
    </div>
</div>
