<div class="category_grid_item">
    <img class="rest_image" src="{{image}}" />
    <div class="title_stars">
        <h3>{{r_name}}</h3>
        <div class="rating">
            <svg class="active_star" width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_87_44)">
                    <path
                        d="M10.2785 0.0458378C10.1112 0.101484 9.98813 0.180044 9.90445 0.28479C9.86836 0.330617 9.74859 0.551566 9.63867 0.777425C8.72156 2.64322 6.98414 6.14895 6.96774 6.16368C6.95625 6.1735 6.73805 6.21114 6.48047 6.24878C6.22289 6.28643 5.10563 6.45009 3.99492 6.61212C2.88586 6.77415 1.67508 6.95255 1.3043 7.00656C0.935156 7.05893 0.587344 7.11785 0.531563 7.13422C0.351094 7.18659 0.187031 7.32243 0.103359 7.48774C0.0590625 7.57284 0 7.77252 0 7.83307C0 7.90345 0.0721875 8.12112 0.123047 8.21114C0.180469 8.3077 -0.013125 8.11785 2.62172 10.6694C4.64625 12.6301 4.83984 12.8233 4.83164 12.8625C4.82672 12.8854 4.76109 13.2652 4.68398 13.707C4.60852 14.1473 4.47891 14.8936 4.39688 15.365C4.31648 15.8347 4.18359 16.6007 4.10156 17.0671C4.02117 17.5319 3.90633 18.1931 3.84727 18.5352C3.71602 19.2815 3.71273 19.365 3.81117 19.563C3.91289 19.7676 4.05891 19.8887 4.29516 19.9607C4.4543 20.0098 4.50352 20.0082 4.66758 19.9542C4.74961 19.9264 5.85211 19.3601 7.64039 18.4239C9.20391 17.6072 10.4967 16.9395 10.5115 16.9395C10.5279 16.9395 10.7363 17.0409 10.9758 17.167C11.2153 17.2913 12.4523 17.9362 13.7238 18.6007C14.997 19.2652 16.0995 19.8396 16.1766 19.8756C16.316 19.9427 16.316 19.9427 16.5129 19.9427C16.7032 19.9427 16.7147 19.9411 16.818 19.8904C17.0855 19.7594 17.243 19.5139 17.243 19.2341C17.243 19.1719 17.1888 18.8167 17.1199 18.4125C17.051 18.0213 16.9296 17.3192 16.8492 16.8527C16.7672 16.3879 16.6359 15.6252 16.5539 15.1588C16.4735 14.694 16.3521 13.9918 16.2832 13.6007C16.2159 13.2095 16.1602 12.8724 16.1602 12.8543C16.1602 12.8298 16.8148 12.1784 18.3799 10.6514C21.0705 8.02129 20.8245 8.26515 20.8786 8.17513C20.9278 8.09003 21 7.87072 21 7.80198C21 7.73815 20.9442 7.54666 20.9016 7.46155C20.8441 7.35026 20.7867 7.28315 20.685 7.20787C20.562 7.11785 20.4389 7.08021 20.1469 7.03929C19.9238 7.00819 18.2651 6.77579 16.9887 6.59576C16.6737 6.55157 16.1454 6.47628 15.8156 6.43045C14.1291 6.19314 14.0093 6.17513 13.9863 6.15222C13.9748 6.13913 13.3235 4.8298 12.5393 3.2406C11.1907 0.507376 11.1103 0.346983 11.0217 0.253694C10.9134 0.137491 10.8166 0.0802077 10.6477 0.0343812C10.4902 -0.00980868 10.4393 -0.00817202 10.2785 0.0458378Z" />
                </g>
                <defs>
                    <clipPath id="clip0_87_44">
                        <rect width="21" height="20" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <svg class="active_star" width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_87_44)">
                    <path
                        d="M10.2785 0.0458378C10.1112 0.101484 9.98813 0.180044 9.90445 0.28479C9.86836 0.330617 9.74859 0.551566 9.63867 0.777425C8.72156 2.64322 6.98414 6.14895 6.96774 6.16368C6.95625 6.1735 6.73805 6.21114 6.48047 6.24878C6.22289 6.28643 5.10563 6.45009 3.99492 6.61212C2.88586 6.77415 1.67508 6.95255 1.3043 7.00656C0.935156 7.05893 0.587344 7.11785 0.531563 7.13422C0.351094 7.18659 0.187031 7.32243 0.103359 7.48774C0.0590625 7.57284 0 7.77252 0 7.83307C0 7.90345 0.0721875 8.12112 0.123047 8.21114C0.180469 8.3077 -0.013125 8.11785 2.62172 10.6694C4.64625 12.6301 4.83984 12.8233 4.83164 12.8625C4.82672 12.8854 4.76109 13.2652 4.68398 13.707C4.60852 14.1473 4.47891 14.8936 4.39688 15.365C4.31648 15.8347 4.18359 16.6007 4.10156 17.0671C4.02117 17.5319 3.90633 18.1931 3.84727 18.5352C3.71602 19.2815 3.71273 19.365 3.81117 19.563C3.91289 19.7676 4.05891 19.8887 4.29516 19.9607C4.4543 20.0098 4.50352 20.0082 4.66758 19.9542C4.74961 19.9264 5.85211 19.3601 7.64039 18.4239C9.20391 17.6072 10.4967 16.9395 10.5115 16.9395C10.5279 16.9395 10.7363 17.0409 10.9758 17.167C11.2153 17.2913 12.4523 17.9362 13.7238 18.6007C14.997 19.2652 16.0995 19.8396 16.1766 19.8756C16.316 19.9427 16.316 19.9427 16.5129 19.9427C16.7032 19.9427 16.7147 19.9411 16.818 19.8904C17.0855 19.7594 17.243 19.5139 17.243 19.2341C17.243 19.1719 17.1888 18.8167 17.1199 18.4125C17.051 18.0213 16.9296 17.3192 16.8492 16.8527C16.7672 16.3879 16.6359 15.6252 16.5539 15.1588C16.4735 14.694 16.3521 13.9918 16.2832 13.6007C16.2159 13.2095 16.1602 12.8724 16.1602 12.8543C16.1602 12.8298 16.8148 12.1784 18.3799 10.6514C21.0705 8.02129 20.8245 8.26515 20.8786 8.17513C20.9278 8.09003 21 7.87072 21 7.80198C21 7.73815 20.9442 7.54666 20.9016 7.46155C20.8441 7.35026 20.7867 7.28315 20.685 7.20787C20.562 7.11785 20.4389 7.08021 20.1469 7.03929C19.9238 7.00819 18.2651 6.77579 16.9887 6.59576C16.6737 6.55157 16.1454 6.47628 15.8156 6.43045C14.1291 6.19314 14.0093 6.17513 13.9863 6.15222C13.9748 6.13913 13.3235 4.8298 12.5393 3.2406C11.1907 0.507376 11.1103 0.346983 11.0217 0.253694C10.9134 0.137491 10.8166 0.0802077 10.6477 0.0343812C10.4902 -0.00980868 10.4393 -0.00817202 10.2785 0.0458378Z" />
                </g>
                <defs>
                    <clipPath id="clip0_87_44">
                        <rect width="21" height="20" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <svg class="active_star" width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_87_44)">
                    <path
                        d="M10.2785 0.0458378C10.1112 0.101484 9.98813 0.180044 9.90445 0.28479C9.86836 0.330617 9.74859 0.551566 9.63867 0.777425C8.72156 2.64322 6.98414 6.14895 6.96774 6.16368C6.95625 6.1735 6.73805 6.21114 6.48047 6.24878C6.22289 6.28643 5.10563 6.45009 3.99492 6.61212C2.88586 6.77415 1.67508 6.95255 1.3043 7.00656C0.935156 7.05893 0.587344 7.11785 0.531563 7.13422C0.351094 7.18659 0.187031 7.32243 0.103359 7.48774C0.0590625 7.57284 0 7.77252 0 7.83307C0 7.90345 0.0721875 8.12112 0.123047 8.21114C0.180469 8.3077 -0.013125 8.11785 2.62172 10.6694C4.64625 12.6301 4.83984 12.8233 4.83164 12.8625C4.82672 12.8854 4.76109 13.2652 4.68398 13.707C4.60852 14.1473 4.47891 14.8936 4.39688 15.365C4.31648 15.8347 4.18359 16.6007 4.10156 17.0671C4.02117 17.5319 3.90633 18.1931 3.84727 18.5352C3.71602 19.2815 3.71273 19.365 3.81117 19.563C3.91289 19.7676 4.05891 19.8887 4.29516 19.9607C4.4543 20.0098 4.50352 20.0082 4.66758 19.9542C4.74961 19.9264 5.85211 19.3601 7.64039 18.4239C9.20391 17.6072 10.4967 16.9395 10.5115 16.9395C10.5279 16.9395 10.7363 17.0409 10.9758 17.167C11.2153 17.2913 12.4523 17.9362 13.7238 18.6007C14.997 19.2652 16.0995 19.8396 16.1766 19.8756C16.316 19.9427 16.316 19.9427 16.5129 19.9427C16.7032 19.9427 16.7147 19.9411 16.818 19.8904C17.0855 19.7594 17.243 19.5139 17.243 19.2341C17.243 19.1719 17.1888 18.8167 17.1199 18.4125C17.051 18.0213 16.9296 17.3192 16.8492 16.8527C16.7672 16.3879 16.6359 15.6252 16.5539 15.1588C16.4735 14.694 16.3521 13.9918 16.2832 13.6007C16.2159 13.2095 16.1602 12.8724 16.1602 12.8543C16.1602 12.8298 16.8148 12.1784 18.3799 10.6514C21.0705 8.02129 20.8245 8.26515 20.8786 8.17513C20.9278 8.09003 21 7.87072 21 7.80198C21 7.73815 20.9442 7.54666 20.9016 7.46155C20.8441 7.35026 20.7867 7.28315 20.685 7.20787C20.562 7.11785 20.4389 7.08021 20.1469 7.03929C19.9238 7.00819 18.2651 6.77579 16.9887 6.59576C16.6737 6.55157 16.1454 6.47628 15.8156 6.43045C14.1291 6.19314 14.0093 6.17513 13.9863 6.15222C13.9748 6.13913 13.3235 4.8298 12.5393 3.2406C11.1907 0.507376 11.1103 0.346983 11.0217 0.253694C10.9134 0.137491 10.8166 0.0802077 10.6477 0.0343812C10.4902 -0.00980868 10.4393 -0.00817202 10.2785 0.0458378Z" />
                </g>
                <defs>
                    <clipPath id="clip0_87_44">
                        <rect width="21" height="20" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <svg class="active_star" width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_87_44)">
                    <path
                        d="M10.2785 0.0458378C10.1112 0.101484 9.98813 0.180044 9.90445 0.28479C9.86836 0.330617 9.74859 0.551566 9.63867 0.777425C8.72156 2.64322 6.98414 6.14895 6.96774 6.16368C6.95625 6.1735 6.73805 6.21114 6.48047 6.24878C6.22289 6.28643 5.10563 6.45009 3.99492 6.61212C2.88586 6.77415 1.67508 6.95255 1.3043 7.00656C0.935156 7.05893 0.587344 7.11785 0.531563 7.13422C0.351094 7.18659 0.187031 7.32243 0.103359 7.48774C0.0590625 7.57284 0 7.77252 0 7.83307C0 7.90345 0.0721875 8.12112 0.123047 8.21114C0.180469 8.3077 -0.013125 8.11785 2.62172 10.6694C4.64625 12.6301 4.83984 12.8233 4.83164 12.8625C4.82672 12.8854 4.76109 13.2652 4.68398 13.707C4.60852 14.1473 4.47891 14.8936 4.39688 15.365C4.31648 15.8347 4.18359 16.6007 4.10156 17.0671C4.02117 17.5319 3.90633 18.1931 3.84727 18.5352C3.71602 19.2815 3.71273 19.365 3.81117 19.563C3.91289 19.7676 4.05891 19.8887 4.29516 19.9607C4.4543 20.0098 4.50352 20.0082 4.66758 19.9542C4.74961 19.9264 5.85211 19.3601 7.64039 18.4239C9.20391 17.6072 10.4967 16.9395 10.5115 16.9395C10.5279 16.9395 10.7363 17.0409 10.9758 17.167C11.2153 17.2913 12.4523 17.9362 13.7238 18.6007C14.997 19.2652 16.0995 19.8396 16.1766 19.8756C16.316 19.9427 16.316 19.9427 16.5129 19.9427C16.7032 19.9427 16.7147 19.9411 16.818 19.8904C17.0855 19.7594 17.243 19.5139 17.243 19.2341C17.243 19.1719 17.1888 18.8167 17.1199 18.4125C17.051 18.0213 16.9296 17.3192 16.8492 16.8527C16.7672 16.3879 16.6359 15.6252 16.5539 15.1588C16.4735 14.694 16.3521 13.9918 16.2832 13.6007C16.2159 13.2095 16.1602 12.8724 16.1602 12.8543C16.1602 12.8298 16.8148 12.1784 18.3799 10.6514C21.0705 8.02129 20.8245 8.26515 20.8786 8.17513C20.9278 8.09003 21 7.87072 21 7.80198C21 7.73815 20.9442 7.54666 20.9016 7.46155C20.8441 7.35026 20.7867 7.28315 20.685 7.20787C20.562 7.11785 20.4389 7.08021 20.1469 7.03929C19.9238 7.00819 18.2651 6.77579 16.9887 6.59576C16.6737 6.55157 16.1454 6.47628 15.8156 6.43045C14.1291 6.19314 14.0093 6.17513 13.9863 6.15222C13.9748 6.13913 13.3235 4.8298 12.5393 3.2406C11.1907 0.507376 11.1103 0.346983 11.0217 0.253694C10.9134 0.137491 10.8166 0.0802077 10.6477 0.0343812C10.4902 -0.00980868 10.4393 -0.00817202 10.2785 0.0458378Z" />
                </g>
                <defs>
                    <clipPath id="clip0_87_44">
                        <rect width="21" height="20" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <svg class="active_star" width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_87_44)">
                    <path
                        d="M10.2785 0.0458378C10.1112 0.101484 9.98813 0.180044 9.90445 0.28479C9.86836 0.330617 9.74859 0.551566 9.63867 0.777425C8.72156 2.64322 6.98414 6.14895 6.96774 6.16368C6.95625 6.1735 6.73805 6.21114 6.48047 6.24878C6.22289 6.28643 5.10563 6.45009 3.99492 6.61212C2.88586 6.77415 1.67508 6.95255 1.3043 7.00656C0.935156 7.05893 0.587344 7.11785 0.531563 7.13422C0.351094 7.18659 0.187031 7.32243 0.103359 7.48774C0.0590625 7.57284 0 7.77252 0 7.83307C0 7.90345 0.0721875 8.12112 0.123047 8.21114C0.180469 8.3077 -0.013125 8.11785 2.62172 10.6694C4.64625 12.6301 4.83984 12.8233 4.83164 12.8625C4.82672 12.8854 4.76109 13.2652 4.68398 13.707C4.60852 14.1473 4.47891 14.8936 4.39688 15.365C4.31648 15.8347 4.18359 16.6007 4.10156 17.0671C4.02117 17.5319 3.90633 18.1931 3.84727 18.5352C3.71602 19.2815 3.71273 19.365 3.81117 19.563C3.91289 19.7676 4.05891 19.8887 4.29516 19.9607C4.4543 20.0098 4.50352 20.0082 4.66758 19.9542C4.74961 19.9264 5.85211 19.3601 7.64039 18.4239C9.20391 17.6072 10.4967 16.9395 10.5115 16.9395C10.5279 16.9395 10.7363 17.0409 10.9758 17.167C11.2153 17.2913 12.4523 17.9362 13.7238 18.6007C14.997 19.2652 16.0995 19.8396 16.1766 19.8756C16.316 19.9427 16.316 19.9427 16.5129 19.9427C16.7032 19.9427 16.7147 19.9411 16.818 19.8904C17.0855 19.7594 17.243 19.5139 17.243 19.2341C17.243 19.1719 17.1888 18.8167 17.1199 18.4125C17.051 18.0213 16.9296 17.3192 16.8492 16.8527C16.7672 16.3879 16.6359 15.6252 16.5539 15.1588C16.4735 14.694 16.3521 13.9918 16.2832 13.6007C16.2159 13.2095 16.1602 12.8724 16.1602 12.8543C16.1602 12.8298 16.8148 12.1784 18.3799 10.6514C21.0705 8.02129 20.8245 8.26515 20.8786 8.17513C20.9278 8.09003 21 7.87072 21 7.80198C21 7.73815 20.9442 7.54666 20.9016 7.46155C20.8441 7.35026 20.7867 7.28315 20.685 7.20787C20.562 7.11785 20.4389 7.08021 20.1469 7.03929C19.9238 7.00819 18.2651 6.77579 16.9887 6.59576C16.6737 6.55157 16.1454 6.47628 15.8156 6.43045C14.1291 6.19314 14.0093 6.17513 13.9863 6.15222C13.9748 6.13913 13.3235 4.8298 12.5393 3.2406C11.1907 0.507376 11.1103 0.346983 11.0217 0.253694C10.9134 0.137491 10.8166 0.0802077 10.6477 0.0343812C10.4902 -0.00980868 10.4393 -0.00817202 10.2785 0.0458378Z" />
                </g>
                <defs>
                    <clipPath id="clip0_87_44">
                        <rect width="21" height="20" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
    <div class="rest_info">
        Доставка: {{cost}} &nbsp
        {{min_time}}-{{max_time}} минут
    </div>
</div>
