<div class="cart-item">
    <div class="cart-item__info">
        <img class="cart-item__info__icon" src="{{ icon }}" alt="">
        <div class="cart-item__info__name">{{ name }}</div>
        <div class="cart-item__info__count-control">
            <button class="cart-item__info__count-control__button" id="{{ decBtnId }}">-</button>
            <div class="cart-item__info__count-control__count">{{ count }}</div>
            <button class="cart-item__info__count-control__button" id="{{ incBtnId }}">+</button>
        </div>
    </div>
    <div class="cart-item__price">{{ pirce }}</div>
</div>