<div class="form-input-with-msg">
    <div class="form-input-with-msg-msg__{{ style }}">{{ message }}</div>
    <input class="form-input-with-msg-input__{{ style }}" type="{{ type }}" name="{{ name }}" id="{{ name }}"
        placeholder="{{ placeholder }}">
</div>