<div class="form-input-with-msg" id="{{ name }}">
    <div class="form-input-with-msg-msg__{{ style }}">{{ message }}</div>
    <input class="form-input-with-msg-input__{{ style }}" type="{{ type }}" name="{{ name }}" id="input-{{ name }}"
        placeholder="{{ placeholder }}" value="{{ value }}">
</div>