<div class="form-input-with-msg" id="input-div-{{ name }}">
    <div class="form-input-with-msg-msg__{{ style }}">{{ message }}</div>
    <input class="form-input-with-msg-input__{{ style }}" type="{{ type }}" name="{{ name }}" id="{{ name }}"
        placeholder="{{ placeholder }}" value="{{ value }}" autocomplete="{{ autocomplete }}">
</div>