<div class="dishes-category">
    {{#each Categories}}
        <div class="dishes-category__categories">
            <h2 class="dishes-category__categories__title">{{MenuType.Name}}</h2>
            <div class="dishes-category__categories__items">
                {{#each Products}}
                    <div class="dish-card">
                        <img
                            class="dish-card__image"
                            src="{{Icon}}"
                            alt=""
                            srcset=""
                        />
                        <div class="dish-card__info">
                            <div class="dish-card__info__text">
                                <div
                                    class="dish-card__info__text__price"
                                >{{Price}}₽</div>
                                <div
                                    class="dish-card__info__text__dish-name"
                                >{{Name}}</div>
                            </div>
                            <button
                                class="button_primary-green dish-card__button"
                                type="button"
                                id="{{ID}}"
                            >+ В корзину</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>
