{{#each Categories}}
<div class="dishes-category__categories">
    <h2 class="dishes-category__categories__title">{{MenuType.Name}}</h2>
    <div class="dishes-category__categories__items card-layout">
        {{#each Products}}
        <div class="dish-card card" data-product-id="{{ID}}">
            <div class="dish-card__top">
                <img class="dish-card__image card-image" src="{{Icon}}" alt="" srcset="" />
                <div class="dish-card__info__text">
                    <div class="dish-card__info__text__dish-name">{{Name}}</div>
                    <div class="dish-card__info__text__price">{{Price}}₽</div>
                </div>
            </div>
            <div class="dish-card__controls"></div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
